<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/ext-6.0.1/build/ext-all-debug.js"></script>
    <script type="text/javascript">

    </script>
    <%= javascript_include_tag('home') %>
  </head>
  <body>
    hello

  </body>
</html> -->
