<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="/ext-6.0.1/build/ext-all-debug.js"></script>
    <link rel="stylesheet" type="text/css" href="/ext-6.0.1/build/classic/theme-classic/resources/theme-classic-all.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.36/jspdf.plugin.autotable.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
